.saved-container {
  border: solid black 1px;
  margin-top: 20px;
  padding: 20px;
}

.saved-title {
  border-bottom: solid grey 1px;
  padding-bottom: 10px;
}

.saved-row {
  border-bottom: solid grey 1px;
  margin-bottom: 10px;
}

.del-btn {
  margin-bottom: 10px;
  margin-left: 25px;
}
